################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CleverPointApi/v15/Server/sqlite3
/CleverPointApi/bin
/CleverPointApi/obj
/.vs